body {
    min-width: 357px;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none none;
}

li {
    padding: 0;
    margin: 0;
}

li.folder,
li.bookmark {
    border: solid 1px darkgray;
}

li.folder {
    background-color: lightblue;
}

li.bookmark {
    background: lightseagreen no-repeat;
    background-position: .25em .25em;
    padding: .25em 1.5em;
}